{% from "helpers.html" import input %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap_5.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='responsive.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pygments.css') }}">
		<script>
			MathJax = {
			  tex: {
				inlineMath: [['$', '$'], ['\\(', '\\)']]
			  },
			  svg: {
				fontCache: 'global'
			  }
			};
 		</script>
 		<script type="text/javascript" id="MathJax-script" async
 			src="{{ url_for('static', filename='tex-svg.js') }}">
 		</script>
	</head>

	<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand {{ 'active' if active_page == 'home' else '' }}" href="{{ url_for('wiki.home') }}">CTI Reporter</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'home' else '' }}" aria-current="page" href="{{ url_for('wiki.home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'index' else '' }}" href="{{ url_for('wiki.index') }}">Index</a>
        </li>
		  <li class="nav-item">
			  <a class="nav-link {{ 'active' if active_page == 'new_page' else '' }}" href="{{ url_for('wiki.create') }}">New Report</a>
		  </li>
		  <li class="nav-item">
			  <a class="nav-link {{ 'active' if active_page == 'search' else '' }}" href="{{ url_for('wiki.search') }}">Search</a>
		  </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Filter
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item {{ 'active' if active_page == 'tags' else '' }}" href="{{ url_for('wiki.tags') }}">Tags</a></li>
		  	<li><a class="dropdown-item {{ 'active' if active_page == 'cves' else '' }}" href="{{ url_for('wiki.cves') }}">CVE's</a></li>
		  	<li><a class="dropdown-item {{ 'active' if active_page == 'ips' else '' }}" href="{{ url_for('wiki.ips') }}">IP Addresses</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
		<div class="container">
			<div class="row">
				<div class="col-12">
					{% block header %}
						<div class="page-header">
							<h1>{% block title %}{{ page.title }}{% endblock title %}</h1>
						</div>
					{% endblock header %}
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					{% with messages = get_flashed_messages(with_categories=True) %}
						{% if messages %}
							{% for category, message in messages %}
								<div class="alert alert-{{ category }}">
									<button type="button" class="close" data-dismiss="alert">&times;</button>
									{{ message }}
								</div>
							{% endfor %}
						{% endif %}
					{% endwith %}
					{% if form and form.errors %}
						<div class="alert alert-danger">Errors occured verifying your input. Please check the marked fields below.</div>
					{% endif %}
					{% block content %}
					{% endblock content %}
				</div>
				<div class="span3">
					{% block sidebar %}
					{% endblock sidebar %}
				</div>
			</div>
		</div>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js "></script>
		<script type="text/javascript">
			if (typeof jQuery == 'undefined') {
				document.write(unescape("%3Cscript src='{{ url_for('static', filename='jquery.min.js') }}' type='text/javascript'%3E%3C/script%3E"));
			}
		</script>
		<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bootstrap_5.js') }}"></script>
		<script type="text/javascript">
			{% block postscripts %}
			{% endblock postscripts %}
		</script>
	</body>
</html>
