{% extends "base.html" %}
{% set active_page = "new_page" %}

{% block title %}Create a new page{% endblock title %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-8">
			<form method="POST" class="form-inline">
				{{ form.hidden_tag() }}
				{{ input(form.url, placeholder="URL of the new page", class="form-control", autocomplete="off") }}
				<div class="d-grid gap-2" style="margin-top: 15px;">
				<input type="submit" class="btn btn-success" value="Create">
				</div>
			</form>
		</div>
		<div class="col-4">
			<p class="alert alert-success">Thank you for creating new content!</p>
		</div>
	</div>
</div>
{% endblock content %}
