{% extends "base.html" %}
{% set active_page = "index" %}

{% block title %}Page Index{% endblock title %}

{% block content %}
<dvi class="container">
	<div class="row">
		<div class="col-8">
			{% if pages %}
		<table class="table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Date</th>
					<th>URL</th>
				</tr>
			</thead>
		<tbody>
			{% for page in pages %}
				<tr>
					<td><a href="{{ url_for('wiki.display', url=page.url) }}">{{ page.title }}</a></td>
                    <td><a href="{{ url_for('wiki.display', url=page.url) }}">{{ page.date }}</a></td>
					<td><a href="{{ url_for('wiki.display', url=page.url) }}">{{ page.url }}</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>There are no pages yet.</p>
	{% endif %}
	</div>
		<div class="col-4">
			<ul class="nav flex-column">
			  <li class="nav-item">
				<a class="nav-link" aria-current="page" href="{{ url_for('wiki.create') }}">New Report</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{{ url_for('wiki.tags') }}">Tags</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{{ url_for('wiki.search') }}">Search</a>
			  </li>
			</ul>
		</div>
	</div>
</dvi>
{% endblock content %}

