{% extends "base.html" %}

{% block title %}Move report{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
        <form method="POST" class="form-inline">
            {{ form.hidden_tag() }}
            {{ input(form.url, placeholder="New URL of the page", autocomplete="off") }}
            <input type="submit" class="btn btn-success" value="Create">
        </form>
        </div>
        <div class="col-4">
            <p class="alert alert-success">Be careful, the old url will be invalid immediately!</p>
        </div>
    </div>
</div>
{% endblock content %}

